[2016-06-02 08:37] vishyapps opened #1 "Error Using v0.15.1"
Hi @LeonardLaszlo ,

I have tested on v0.15.1. (nwjs-v0.15.1-linux-armv7.tar.gz)

ENV: ODROID XU4 running Official Odroid Ubuntu release (14.04)

Upon extracting, the file nw shows as "shared library".

terminal command "./nw" executed from the folder, throws this error:
"error while loading shared libraries: libffmpeg.so: cannot open shared object file: No such file or directory".

I have copied

[2016-06-02 16:27] LeonardLaszlo commented on #1
@vishyapps After you extract the archive copy the files from the lib directory to /usr/lib. This way v0.15.1 works on my XU4 device with ubuntu 14.04.

[SDK flavor: has builtin support for DevTools and NaCl plugins. SDK flavor has the same capabilities as the builds before 0.13.0](http://docs.nwjs.io/en/latest/For%20Users/Advanced/Build%20Flavors/)

[2016-06-02 16:45] #1 closed

[2016-09-09 17:00] jrd261 opened #2 "Automate builds of latest versions or latest LTS versions"
Thanks for your work here. We've been trying to build v16 and v17 with little luck.

I'm willing to put some automation work behind updated ARM builds. If there are version specific changes that need to made, perhaps we could get rolling for LTS releases only.

You have any bandwidth for this?

[2016-09-09 18:00] LeonardLaszlo commented on #2
You are welcome!

What do you mean by "with little luck"? You didn't manage to build NW?

I need bandwith for running the build on my PC?

[2016-09-09 18:15] jrd261 commented on #2
Hah, sorry, lost in translation. By bandwidth I meant your time, and specifically if you plan on keeping builds up to date?

I'm still just getting familiar with working with the nwjs build in general so my problems aren't ARM specific yet so I won't bug you with any of that.

Do you build on a physical device or in emulator? About how long does it take?

[2016-09-09 18:30] LeonardLaszlo commented on #2
Last cross-compilations happened in x86 virtual machines, using instructions from jtg-gg (May 19).
[Here](https://github.com/nwjs/nw.js/issues/1151) is a link to that thread.

It took me a few days to setup everything and make the builds happen. The build itself takes 6-7 hours

[2016-09-09 18:46] jrd261 commented on #2
Ahh great, I missed that thread. I'll give it a go and see if I can get through it for the latest versions. Hopefully I can create a script to semi-automate the builds. If you are interested in staying involved in automating this feel free to keep this issue open, otherwise cheers!

Thanks for your help and your work, these binaries saved us a hell of a lot of time doing a proof of concept.

[2016-09-09 19:56] LeonardLaszlo commented on #2
You are welcome! It would be great to setup a build server like Travis for this job!

This issue stays open until you manage to build it.

[2016-09-10 08:56] LeonardLaszlo commented on #2
I am trying to make a build of version nw17 and document each step for you.

[2016-09-14 06:11] LeonardLaszlo commented on #2
I only managed to write a tutorial for v0.14.x. [Here](https://github.com/LeonardLaszlo/nw.js-armv7-binaries/blob/master/docs/build-nwjs-v0.14.x.md) is a link.

I am working on the tutorial for newer versions, but I get some errors when I try to build them.

[2016-09-14 20:53] jrd261 commented on #2
Thanks for the go at it. Where did you hit the build errors? You think the arm specific patches need to be updated?

[2016-09-15 16:32] LeonardLaszlo commented on #2
I've build v0.14.7 based on the thread I sent you. The documentation I wrote is Only for this version. The patches were provided by jtg-gg.

If you want to build newer versions you need to debug the building process and patch something, because the process fails.

BTW I managed to build v0.15 few months ago, but I don't remember what needed to be patched in the source.

[2016-09-15 16:44] jrd261 commented on #2
Ok, thanks. I'll be working on it this week!

[2016-09-16 18:05] jrd261 commented on #2
I'm giving it a go using the forks that @jtg-gg maintains. Did you end up trying to build against them using nwjs's new build process?

[2016-09-16 21:15] jrd261 commented on #2
I managed, I think, to build nwjs for 17 using patches in his 17 branch. The instructions on their site for building node and adding it in are incomplete as that step didn't exist previously. My build is also 5GB+ which is alarming.

[2016-09-17 12:52] LeonardLaszlo commented on #2
The versions I managed to build used 3 commits from jtg-gg. I used the old building strategy (with [gyp](https://gyp.gsrc.io/))

What step didn't exist before?

Your build is 5GB+ probably because you still have the debug symbols in your binary. GYP used to drop the debug symbols.

[2016-09-17 22:49] jrd261 commented on #2
Ahh, symbols right. It's been a long time I must have missed the flag. I just used his forks and checked out only the arm related commits. Then translated the gyp flags for gn and all went well. I haven't had a chance to test but I get exec format error on x86 which is promising 😀.

I'm not sure if I'm misreading but it seems like in the latest instructions i need to build nwjs with gn and then bu

[2016-09-19 02:31] jtg-gg commented on #2
@jrd261 I'll share you my arm build params:
`
export GYP_CROSSCOMPILE = "1"
export GYP_DEFINES = "target_arch=arm arm_float_abi=hard nwjs_sdk=1 disable_nacl=0 buildtype=Official"
export GN_ARGS = "is_debug=false is_component_ffmpeg=true enable_nacl=true is_official_build=true target_cpu=\"arm\""

export GYP_CHROMIUM_NO_ACTION=1
gclient sync --reset

gn gen out_gn_arm/nw --args="$GN_ARGS"
export GY

[2016-09-19 02:36] jtg-gg commented on #2
@jrd261 if you have a dedicated machine for this
we can talk to Roger Wang, I think he'll accept my patch
and you can make a slave build machine connected to nwjs build system
then the community will have an official arm build

[2016-09-19 03:33] jrd261 commented on #2
Awesome! Thanks @jtg-gg, I'll work on getting something up in a build system I'm familiar with then we'll see what to do from there.

[2016-09-20 05:42] LeonardLaszlo opened #3 "building v0.17.3"
Hello @jtg-gg!

When I build nwjs v0.17.3 I get the error bellow:
[code]

The problem seems to be that file '../nw/obj/v8/libv8_libplatform.a' does not exist. So I did a lookup, and found the file in other directory.

[code]

Any Idea how to fix this problem?

I applied 4 of your patches:

  - PATCH-Build-linux-arm-cross-compile-fix,-dump_syms-should-be-host.patch
  - PATCH-Build-gn-add-support-fo

[2016-09-20 10:11] jtg-gg commented on #3
@LeonardLaszlo
sorry I miss out 1 step, the ninja should be:

ninja -C out_gn_arm/nw nwjs
ninja -C out_gn_arm/nw v8_libplatform
ninja -C out_gn_arm/Release node
ninja -C out_gn_arm/nw copy_node
ninja -C out_gn_arm/nw dist

[2016-09-20 14:32] LeonardLaszlo commented on #3
Thanks!

[2016-09-22 11:47] LeonardLaszlo commented on #3
I managed to build it! The RAM requirements are just growing and growing ...

[2016-09-22 11:50] LeonardLaszlo commented on #2
@jrd261 Check my latest cross-compilation tutorial! I hope It is useful!

[2016-09-22 14:58] jrd261 commented on #3
I ordered 8 GB of RAM because my 4GB virtual machine wasn't able to link in less than 20hrs. Once that ram spills over its gets mighty slow!

I just had a chance and things went well. I just checkout the commits directly instead of patching. Seemed a little easier.

How big is your bulid for 17? I'm about 155M.

[2016-09-22 15:16] LeonardLaszlo commented on #3
You can checkout the commits if is easier for you, my workflow is to apply patches.

The binaries are available under the releases menu item [or here](https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases). They have 50-70MB size

[2016-09-22 15:52] LeonardLaszlo commented on #3
BTW having 10 GB RAM on the virtual machine and a SSD decreases a lot the building time.

[2016-09-22 16:02] LeonardLaszlo commented on #3
The problem issued in this topic was solved

[2016-09-22 16:02] #3 closed

[2016-09-22 16:22] LeonardLaszlo commented on #2
I'll try to build it with TravisCI.

[2016-09-22 16:29] jrd261 commented on #2
I'm not going to have any luck with CircleCI unless I get some special disk/ram allocation. I might be able to set up a dedicated vm at my office.

[2016-09-22 17:59] LeonardLaszlo commented on #2
@jtg-gg I wrote a bash script which builds the stable version of NW.js.

The only problem I have is that getting your patches is impossible to accomplish from bash with my knowledge.

It would be really great if RogerWang accepts your patches in the mainstream.

[2016-09-22 18:07] LeonardLaszlo commented on #2
You can check out what this script does [here](https://github.com/LeonardLaszlo/nw.js-armv7-binaries/blob/master/scripts/building-script.sh)

[2016-09-22 18:14] jrd261 commented on #2
We could pin to the commits from his forks with some nasty if else if blocks until that happens. I was working on that. That "awk" to to custom deps is super helpful!

[2016-09-22 18:22] LeonardLaszlo commented on #2
I think we could build it with TravisCI

[2016-11-14 17:51] noamtcohen opened #4 "GPU Error v0.17.5"
Could you give me a direction to why the GPU fails to init:

[code]

[2016-11-14 20:22] jrd261 commented on #4
Are you launching NWJS on the device or forwarding the display?

[2016-11-15 07:19] LeonardLaszlo commented on #4
can you provide more info, like how do you execute nw? which parameters? what os? what desktop environment? which video drivers do you have on your device? etc.

[2016-11-15 07:19] LeonardLaszlo commented on #4
Does it work with previous versions?

[2016-11-15 11:20] noamtcohen commented on #4
I'm using TightVNC to server the desktop
A raspberryPi 3 box
I didn't try other versions.
when I run:
```./nw .```
package.json:
[code]

[2016-11-15 16:25] LeonardLaszlo commented on #4
I think I know what is the problem. You should explicitly specify nw.js to use egl intead of opengl.

As described in the README file you should run nw with the following parameters:

`./nw --use-gl=egl --ignore-gpu-blacklist --disable-accelerated-2d-canvas --num-raster-threads=2`

Let me know if this helps!

[2016-11-15 16:40] noamtcohen commented on #4
That fixes the issue.

[2016-11-15 16:40] #4 closed

[2016-11-30 14:04] ufik commented on #2
Hello, I have tried to compile with help of your tutorial (for nw18), it went well, but now when I try to run nw it says this:

[code]

Any idea what can be wrong?

[2017-01-09 23:12] exander77 opened #5 "High load"
Is it possible that nw has much higher load than Firefox or Google Chrome? I just tested it as a replacement of Firefox in my kiosk and running simple JavaScript weather animation it has load 3.5, with Firefox it is 0.86, with Google Chrome it was something similar to Firefox if I remember correctly.

[2017-01-10 08:59] LeonardLaszlo commented on #5
It might be, but it should not have higher load than Chromium.

Please try with other versions and let me know if you have higher load on each version.

Posting more information about the environment you are using, logs, version of nw and os would have been useful.

[2017-01-11 01:52] exander77 commented on #5
I tested Chromium, it has load cca 1.4.

So:
Chromium: 1.4
Iceweasel.: 0.86
nw.js: 3.5

It is amost clean Raspbian Jessie Lite (2016-11-25-raspbian-jessie-lite) with xorg and matchbox only. Icewasel, Chromium or nw.js are only x programs running, they are launched by xinitrc. No additional programs are running.

[2017-01-11 08:02] LeonardLaszlo commented on #5
can you post the parameters you run NW with and the logs?

[2017-01-16 17:45] apartmedia commented on #2
Hey guys, unfortunately I'm more than a pure newbie when it comes to complex build procedures. But I'm following this project for quite some weeks and already tested your 17.5 binaries on RPi 3 with success. I then found your awesome work of the shell script für building the latest stable of nwjs.
While i write this comment my first build process using this script is running. Let's see how it perf

[2017-01-16 20:12] LeonardLaszlo commented on #2
Hey! Take a look at the comments of this commit: https://github.com/LeonardLaszlo/nw.js-armv7-binaries/commit/bb581d317687c9106fbb02094454ebfbfb891c74

By the way, I am newbie to this building process too.

[2017-01-17 06:51] apartmedia commented on #2
Ok, I realized the python command is using an additional file "third_party/node/build/common.gypi"
But still the command is called in the context of "$NWJS/src/content/nw/" so Python will not find the 2 files. As far as I understand this, python has to be called in context of "$NWJS/src". But I'm not sure if I should simply cd into that directory before
--> gclient runhooks
--> gn gen out_gn_arm/n

[2017-01-17 08:23] LeonardLaszlo commented on #2
you should cd to src.

[2017-01-17 08:57] apartmedia commented on #2
Does it matter in which directory "gclient runhooks" is called?
Or do I have to change directory right after it and before "gn gen out_gn_arm/nw --args="$GN_ARGS"?
Might be a silly question, but...

[2017-01-17 09:29] apartmedia commented on #2
I have another question regarding gclient path:
You calling the gclient command in "$NWJS/src" but the config file ".gclient" is located in "$NWJS".
When buidling I get the message ".gclient file in parent directory ~/nwjs_build/nwjs might not be the file you want to use". Can I ignore this or should the .gclient file be placed in another folder?
I do not really understand why after the git checko

[2017-01-17 09:43] LeonardLaszlo commented on #2
Does it matter in which directory "gclient runhooks" is called?

_No. You should cd to src or where your .gclient file is located._

When buidling I get the message ".gclient file in parent directory ~/nwjs_build/nwjs might not be the file you want to use".

_Try to cd to the parent then. I don't kbow what is causing this warning message. I've seen it before too._

I do not really understand why a

[2017-01-17 15:49] LeonardLaszlo commented on #2
checkout my latest commit: https://github.com/LeonardLaszlo/nw.js-armv7-binaries/commit/4dd9f93df2f388c4675eff746927a5f1285c62ae

[2017-01-17 16:04] apartmedia commented on #2
Wow, you removed a whole bunch of patches.
I will try. My current build with the changes from this morning is almost done.
I will see what happens.
After that I will give your new script a try.

[2017-01-17 16:22] apartmedia commented on #2
:-( So the morning build didn't work.
I got errors (I think when it comes to link some shared objects like libnode.so)

I will now try with latest script and my change for changing the path before calling python.

[code]

[2017-01-17 16:59] apartmedia commented on #2
:-( So the morning build didn't work.
I got errors (I think when it comes to link some shared objects like libnode.so)

I will now try with latest script and my change for changing the path before calling python.

[code]

[2017-01-17 17:00] apartmedia commented on #2
do you know if this is something important too:

[code]

[2017-01-18 09:05] apartmedia commented on #2
do you know if this is something important too:

[code]

[2017-01-18 09:09] apartmedia commented on #2
couldn't get the build with your latest script going to work.
I get a bunch of undefined reference errors.
Any idea?

[code]

[2017-01-18 09:17] LeonardLaszlo commented on #2
Sorry. I have no idea... Maybe @jtg-gg can help you with this error.

[2017-01-18 09:34] LeonardLaszlo commented on #2
I updated the script. Give it a try!

Don't forget to replace custom_deps manually. I marked it in the comments.

[2017-01-18 17:38] apartmedia commented on #2
I executed every single command step by step via console.
The process works until the first ninja command:

`ninja -C out_gn_arm/nw nwjs`

when it's almost done, the command stop with the following error:

[code]

[2017-01-18 17:59] apartmedia commented on #2
Hm, I tried the same ninja command again with 12 GB RAM, 10 GB swap, same resulting error.
Unfortunately no luck with this libnw.so linking :-(
But anyway thanks for your help so far.
If anyone has an idea what could cause this problem let me know.

[2017-01-19 09:35] apartmedia commented on #2
By the way your awk command for setting the custom_deps in .gclient file seem to work welk. Any reason for commenting that out in the script?
Same for grabbing the nw default branch. It's detecting "nw19" correctly.

[2017-01-19 10:21] LeonardLaszlo commented on #2
A am suspecting that the awk causes thefollowing error:

[code]

I changed the default branch to nw19 because the script is named `building-script-v0.19.x.sh`. When the mainstream branch will change, it will not build the version specified in the name of the script.

[2017-01-19 11:40] apartmedia commented on #2
You are right. The awk custom_deps are missing it's newlines when placing the content inside .gclient. May be that's causing an error.

Beside that I'm trying to ask @jtg-gg if he has an idea about the broken ninja call with libnw.so because that's the main point to get this working. If that is fixed there can be made more optimizations to the script.
Thnaks for your help so far.

[2017-04-04 10:25] apartmedia commented on #2
Hi Leonard, any idea how I should contact @jtg-gg about the question of the broken ninja call with libnw.so? I want to pick this up again. May be he has some kind of solution.

[2017-04-04 10:34] jtg-gg commented on #2
@apartmedia if you want to make your life easier, I would suggest to cross compile from ubuntu 14.04 LTS

as for linker error when building libnode.so, most likely because "ninja -C out_gn_arm/nw nwjs" is failing somewhere

[2017-04-04 10:40] apartmedia commented on #2
@jtg-gg my compile attempts of nw were made with this build-script on an Ubuntu 14.04 VirtualBox VM equipped as @LeonardLaszlo recommended. So this should normally work right?

[2017-04-04 10:46] jtg-gg commented on #2
@apartmedia yeah, I also use Ubuntu VM
so what is the build problem now ? I've briefly look at @LeonardLaszlo  script, looks ok

[2017-04-04 10:51] apartmedia commented on #2
I executed every single command in the build-script step by step via console.
The process works until the first ninja command:

ninja -C out_gn_arm/nw nwjs

when it's almost done, the command stops with the following error:

[code]

I have used 10 GB RAM and also 10 GB swap as recommended.
I also tried the same ninja command again with 12 GB RAM, 10 GB swap, same resulting error.
Unfortunately no

[2017-04-04 11:00] jtg-gg commented on #2
@apartmedia try to remove "is_official_build=true" from GN_ARGS
10 GB memory is enough,
I'm not sure if @LeonardLaszlo  can make arm build with "is_official_build=true", because I can't

[2017-04-04 11:02] apartmedia commented on #2
ok i will give this a try and come back with the results.
many thanx.
do you see any problems trying to build this with the latest version of nw? or better using nw19 first?

[2017-04-04 11:06] jtg-gg commented on #2
FYI by removing "is_official_build=true", it will rebuild from 0
nw19 is better, at least @LeonardLaszlo  has made all the patches for you

there are some changes to nw21 build process, unless you really understand the build process, it will be quite challenging

[2017-04-04 11:20] apartmedia commented on #2
yes, I believe and unfortunately I'm a very newbie to this building things, so honestly I don't really understand whats going on there especailly in nw itself.
So I'll pick up your tip and stick to nw19 for now.
I let you know what happened after removing "is_official_build=true".
Thanx in advance.

[2017-04-05 12:33] LeonardLaszlo commented on #2
Hi. I could not build with "is_official_build=true". I hope you will succeed, because I gave up to build NW.js!

[2017-04-05 13:22] apartmedia commented on #2
As @jtg-gg recommended I completely removed the "is_official_build=true" from GN_ARGS in your buildscript and I give this a try. The build is currently running. Hopefully the GYP_DEFINES buildtype=Official is not another realated issue.
This will also be one of my last try to this time intensive builds :-|
Let's see what comes out

[2017-04-05 13:23] LeonardLaszlo commented on #2
Please let me know if you succeed to build it!

[2017-04-05 13:23] apartmedia commented on #2
jepp

[2017-04-06 10:18] apartmedia commented on #2
So, the build seemed to went thru successfully, at least I did not get the previous build error.
One silly question: I can find two tar files in `$NWJS/src/out_gn_arm/nw/dist/`.
One called `nwjs-sdk-symbol-v0.19.6-linux-arm.tar.gz`, the other `nwjs-sdk-v0.19.6-linux-arm.tar.gz`. What are the exact differences between these two? Which one should I use?
I couldn't do a real test right now as I curre

[2017-04-06 10:36] apartmedia commented on #2
As far as I understand this build is now with Chrome branding, so another question would be how i build this without proprietary-codecs. And I would also like to know if it is possible for a newbie like me to build one non-SDK production version without DevTools, because all the current available versions seems to be SDK flavored with DevTools and NaCl support.
May be you guys can guide me in the

[2017-04-06 14:28] LeonardLaszlo commented on #2
1: I think nwjs-sdk-v0.19.6-linux-arm.tar.gz does not contain breakpad debug symbols.
Breakpad symbols are used to debug you application manually.

http://www.chromium.org/developers/decoding-crash-dumps

 2: To enable/disable proprietary codecs check the nw.js documentation:

http://docs.nwjs.io/en/latest/For%20Developers/Enable%20Proprietary%20Codecs/

[2017-04-12 12:18] #5 closed

[2017-04-12 12:31] LeonardLaszlo commented on #2
@jtg-gg

Do you have any idea what is the meaning of this error message:

[code]

I get this error when I try to build v0.18.8

[2017-04-12 12:42] jtg-gg commented on #2
hmm never see this error, the assertion say something about v8/includes
check your v8 directory, see if contains the correct branch / tag

[2017-04-12 12:49] apartmedia commented on #2
Any interest to get my nwjs-sdk-v0.19.6 build from last week files to place it on your git repo and to share it for everybody? Or is there a special reason why you whant v0.18.8?

[2017-04-12 13:34] LeonardLaszlo commented on #2
I want to build each major version and release it in this repo.

[2017-04-12 13:37] apartmedia commented on #2
ok understand. should i send you the v0.19.6 files anyway as this work is done already?

[2017-04-12 13:56] LeonardLaszlo commented on #2
no, I will build it myself... thanks you anyway!

[2017-04-18 15:43] LeonardLaszlo opened #6 "Building nw18 for ARMv7 fails"
@rogerwang @ghostoy @jtg-gg

When I run `python build/gyp_chromium -Goutput_dir=out_gn_arm third_party/node/node.gyp` during the build of **nw18** I get the following error message:
[code]

If I checkout **nw-v0.18.8** tag in `third_party/node` directory the command does not fail, but the building process fails in a later stage, when I am running `ninja -C out_gn_arm/Release node` with the followi

[2017-04-21 09:07] LeonardLaszlo commented on #2
@apartmedia

Hello! When I try to build **nw19** based on my **nw18** guide I get the error bellow:

Did you got the same error as me? If yes how did you solve it?
[code]

[2017-04-21 09:20] apartmedia commented on #2
no i did not get any errors. as far as i can see there could be something wrong with the ssl implementation. may be node is not correctly downloaded? did you try to refetch the node package?

[2017-04-21 09:47] LeonardLaszlo commented on #2
So if I run a git status I get:

[code]

[2017-04-21 09:47] LeonardLaszlo commented on #2
Could you run a git status on you **node**?

[2017-04-21 09:58] LeonardLaszlo commented on #2
I found the source of the problem....

I need to run an additonal gclient runhooks

[2017-04-21 10:06] apartmedia commented on #2
you mean another gclient runhooks right before the first ninja call?
because in your script there already is one runhooks call before the "gn gen" call.
if it's the case to run gclient runhooks twice i'm wondering why calling it once worked for me, as i was using the exact commands from your script with no extra or additional calls. hm...

[2017-04-21 10:09] LeonardLaszlo commented on #2
I used the documentation, not the script ... :-(

[2017-04-21 10:15] apartmedia commented on #2
so you also had exactly one runhooks call?

[2017-04-21 10:50] LeonardLaszlo commented on #2
yes

[2017-04-24 08:11] #6 closed

[2017-05-05 17:27] LeonardLaszlo opened #7 "OpenSSL issue"
There is a problem with the OpenSSL in ARMv7 builds.
When I run something like:

[code]

I get the following error:

[code]

@jtg-gg Any idea what is wrong?

[2017-05-08 13:02] LeonardLaszlo opened #8 "Building nw21 failed"
[code]

[2017-05-12 04:51] jtg-gg commented on #7
@LeonardLaszlo I am not sure, FYI this arm build was experimental, we are not using this yet in our daily build, so I can't help you to debug run time error :(

[2017-05-13 09:46] LeonardLaszlo commented on #7
Here I've found some additional information about the problem:

https://github.com/Microsoft/openssl/commit/68886be7e2cd395a759fcd41d2cede461b68843d

[2017-05-16 04:53] jtg-gg commented on #8
@LeonardLaszlo, hmm can you run this "ninja -C out_gn_arm/nw dump" before doing "dist"
the "dump" will create the nw.sym

there are also some changes in nw21, the node folder is renamed to node-nw

[2017-05-16 11:16] LeonardLaszlo commented on #8
Thanks for your help! It worked!

[2017-05-16 11:16] #8 closed

[2017-05-16 11:33] LeonardLaszlo opened #9 "Building NW.js v0.22.x fails"
[code]

[2017-05-16 11:34] LeonardLaszlo commented on #9
Running:

[code]

produces no output.

[2017-05-16 11:39] jtg-gg commented on #9
@LeonardLaszlo make sure the git repo are pointing to the correct branch / commit
then run the "gclient runhooks" to apply the patches
then try again the gyp_chromium

btw I am currently busy with something else, my repo only up to date to nw22.1

[2017-05-16 13:25] LeonardLaszlo commented on #9
You are right! It works with nw22.1, but any older version is not working yet! Thanks for your help!

Please let me know when you update it to be compatible with newer versions!

[2017-05-23 10:44] Zhairgling opened #10 "armv6 raspberry pi zero build"
Hi @LeonardLaszlo ,

I'm trying to build nw.js for arm6. But I don't achive this. Is there any raison that make that can't find any recent prebuilt version on armv6 build?

[2017-05-23 12:08] gizmopt commented on #7
Hello @LeonardLaszlo I experiencing this problem too, I tried different versions and have always the same issue. I tried to use the version 22 but it gives-me an error like you reference on the issue https://github.com/LeonardLaszlo/nw.js-armv7-binaries/issues/9

With this ported version https://github.com/jalbam/nwjs_rpi I don't have this problem but have others due to the old version its on it.

[2017-05-23 13:12] jackieron opened #11 "Build nwjs from arm error"
jack@jack-VirtualBox:~/nwjs/src$ python build/gyp_chromium -Goutput_dir=out_gn_arm -I third_party/node-nw/build/common.gypi third_party/node-nw/node.gyp
Updating projects from gyp files...
gyp: name 'arm_version' is not defined while evaluating condition 'arm_version==7 or arm_version=="default"' in v8/src/v8.gyp

jack@jack-VirtualBox:~/nwjs/src$ ninja -C out_gn_arm/nw nwjs
ninja: Entering directo

[2017-05-23 15:27] LeonardLaszlo commented on #10
The ARM architecture is not supported officially. Probably there was no enthuziast to spend lots of hours working on it...

[2017-05-23 15:32] LeonardLaszlo commented on #7
Well we need some enthuziast developer, who is able to debug Chromium and it's dependencies. Unfortunately I cannot help with that...

[2017-05-23 15:33] LeonardLaszlo commented on #11
which version do you want to build?

[2017-05-24 04:11] jackieron commented on #11
v0.21

[2017-05-24 09:02] jackieron commented on #11
i want to build nwjs for arm9，i read the document of https://github.com/LeonardLaszlo/nw.js-armv7-binaries/blob/master/docs/build-nwjs-v0.21.x.md
and i want to know where and how to define arm version

[2017-05-24 10:26] LeonardLaszlo commented on #11
Check the following file: `/nwjs/src/third_party/node-nw/build/common.gypi`

It has 2 line like:

[code]

I am not sure if this is the only point where you have to change the version, but it is a good starting point.

[2017-05-29 02:02] jackieron opened #12 "Can you help me to build an arm version"
Hello, I am in China, can not be normal access Google source, so can't normal download chromium source code, can you please help me to compile a arm version of nw,js, thank you very much.

[2017-05-29 02:09] jackieron commented on #12
Because of the company to develop software system on the arm, so I really need a arm version, nearly a month since I've been trying to compile the arm version, but source download properly all the time. My progress has been severely affected, and I might be punished by my boss if I go on like this, .I am very sincere to ask fro you help. Loyal thanks.

[2017-05-29 06:42] LeonardLaszlo commented on #12
https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases

[2017-07-02 15:38] AndrejaN opened #13 "New Nw.js Builds"
Hi Leonard, could you inform me when will the next build 0.22 and 0.23 will be available on your repository? I need them for my Pi3.

[2017-07-02 17:28] LeonardLaszlo commented on #13
Hi, I'll let you know!

[2017-07-03 04:11] jtg-gg commented on #13
@LeonardLaszlo
you can try 23.5 from my repo :)
I skipped 22.x (my repo only works for 22.0 if you want to make 0.22 build)

[2017-07-03 09:30] AndrejaN commented on #13
I'm trying to solve this error while trying to build PT for by Pi3.
I'm trying to build your development branch for ARM platform for my Raspbery Pi3 and only NW.js ARMv7 v0.21.6 are available at this moment., i think i have to use the latest 0.23.5 version, but they don't have for ARM platform i have to wait for https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases to compile the latest v

[2017-07-06 04:32] jtg-gg commented on #7
@LeonardLaszlo I've "fixed" the openssl issue, by disabling openssl assembly files
I am currently testing it on nw24 beta, will patch nw23 later, I'll update you once I am done

[2017-07-06 09:18] LeonardLaszlo commented on #7
thank you!

[2017-07-06 09:19] LeonardLaszlo commented on #13
@jtg-gg came up with a fix for this issue. Check https://github.com/LeonardLaszlo/nw.js-armv7-binaries/issues/7

[2017-07-06 09:37] AndrejaN commented on #13
That's great. As i understand these are source i have to build them. Is it possible @LeonardLaszlo repository to be updated with new nw.js sdk binaries for arm soon?

[2017-07-06 12:15] LeonardLaszlo commented on #13
Maybe next week or in 2 weeks... Now I have a lot of work to do and I don't really have time to build NW.js

[2017-07-08 02:26] jtg-gg commented on #7
Apply these 3 patches on top of original **nwjs/chromium.src** repository
![screen shot 2017-07-07 at 11 46 12 am](https://user-images.githubusercontent.com/4043527/27981893-c1174fa4-63be-11e7-9409-06f580b89d9b.png)

Apply these 3 patches on top of original **nwjs/nw.js** repository
![screen shot 2017-07-07 at 11 47 54 am](https://user-images.githubusercontent.com/4043527/27981894-c11b854c-63be-11

[2017-07-20 13:02] #11 closed

[2017-07-24 07:26] LeonardLaszlo commented on #13
Check the releases.

[2017-07-24 07:26] #12 closed

[2017-07-24 07:28] #10 closed

[2017-08-03 06:21] jackieron opened #14 "where download binary"
Hello Where can I download the compiled package?

[2017-08-03 14:36] math3os commented on #14
Look inside [Releases](https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases/)

[2017-08-17 19:34] jrd261 opened #15 "Add non-SDK builds to releases"
Hi Leonard. Thanks for all your work! For certain installations we'd like ARM builds that don't have the SDK in them.

[2017-08-20 14:28] mauritslamers opened #16 "Arm64 build"
I would like to run NW.js on a PineBook (http://pine64.org). While the same processor is used as in the Raspberry PI 3 (ARM Cortex A53) the default distro is a pure 64bits Ubuntu Linux. While it would be theoretically possible to try to run the armv7 version with multilib, it would require quite a bit of extra disk space. Would it be possible to also include a 64bit release (arm64, armv8)? I sadly

[2017-08-21 14:30] mauritslamers commented on #16
Update: I managed to find a system where I could attempt to compile the arm64 version.
I used the manual from https://github.com/LeonardLaszlo/nw.js-armv7-binaries/blob/master/docs/build-nwjs-v0.23.x.md. I managed to get rather far in the process but didn't manage to get a usable product. I found the following:

- in the manual there is a typo. Under step 1, the gclient line should read /nw23 at t

[2017-08-24 17:22] mauritslamers commented on #16
Update: I managed to solve the strip problem. I found that the patches such as https://github.com/jtg-gg/node-webkit/commit/73f745bfb7587f38031d4e39a86718b64656bd5a need to be adjusted a bit in order to make things work under arm64. For every mention of arm as platform or current cpu, an additional mention of arm64 should be made.
In src/nw/content/nw/tools/package_binaries.py, I added

[code]
und

[2017-08-25 02:27] jtg-gg commented on #16
@mauritslamers thats great, nacl might not that important to many people
so do you have a working build ?

[2017-08-25 06:03] mauritslamers commented on #16
I think so, but I cannot create an SDK package to test because it requires nacl. I will try today to see whether I can adjust the packaging scripts to make an SDK without nacl.

[2017-08-25 08:09] mauritslamers commented on #16
I managed to get a working arm64 package (added screenshot of a running nw.js on an arm64 platform). I adjusted the packaging script, commenting out all the lines where nacl was mentioned.
In hindsight it is strange that the packaging scrpt does not take the enviroment settings into account: even when explicitly disabling nacl during compilation it still tries to package it.
What would be the best

[2017-08-28 10:52] LeonardLaszlo commented on #16
You can make a ARM64 branch and push your work there. I can grant you owner rights to this repo in case you want to have access.

[2017-09-01 08:58] plokko commented on #16
Thank  you @mauritslamers !
I was also struggling on getting an arm64 build with no results, i can't wait to try it out!

[2017-09-01 14:55] LeonardLaszlo commented on #15
I added a demo build here:
https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases/tag/v0.23.7

[2017-09-01 14:56] LeonardLaszlo commented on #15
Something is not right, because the file size is almost the same

[2017-09-02 12:55] mauritslamers commented on #16
I just updated the v0.23.7 release to include my arm64 build (thanks @LeonardLaszlo to grant me access!). As far as I can see, everything works as intended, but I didn't do test building. Also I assume that it should be renamed to -chrome-branding as I included the ffmpeg support in the build. Please keep me posted about your results.

[2017-09-02 13:14] plokko commented on #16
It works on my Nanopi-k2 (Amlogic s905,on default image ubuntu-core xenial)!
i had just to install few dependencies:
`sudo apt-get install -y libgconf-2-4 libxss1`
thanks again!

[2017-09-02 13:45] mauritslamers commented on #16
You're very welcome. In the end it was only possible because of the great building manual made by @LeonardLaszlo and the diffs created by @jtg-gg.

[2017-10-17 01:22] Programming4life opened #17 "libgmodule-2.0.so.0 missing"
Keep getting this error:
`./nw: error while loading shared libraries: libgmodule-2.0.so.0: cannot open shared object file: No such file or directory`

The package libglib2.0-0 is installed.

[2017-11-18 17:02] edelciomolina opened #18 "Updating ffmpeg"
Hi,
Anyone can help to update the ffmpeg to run mp4 videos?
I tried using the linux 32 (libffmpeg.so) from https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases into RaspPI, but the NW crashs.

Change the libffmpeg.so is the better way or is there another way to fix it.

Thank you!

[2018-01-24 12:27] rista86 commented on #13
Hey @LeonardLaszlo is there any chance to build the new version? I need at least chromium 60+ because of some additional flag settings and that is from version 0.24.x.
Thank you in advance!

[2018-01-24 22:12] LeonardLaszlo commented on #13
Hi! I am very busy lately and I would recomend you to build it yourself based on the tutorials in this repo!

[2018-01-29 22:59] techborn opened #19 "Trying to compile NWJS 28 for RasPi 3 with ARMv7"
I've followed the instructions from the v23 file. Gotten through all the steps successfully (after a few issues that were just due to differences in versions) up till the `ninja -C out_gn_arm/Release node` command. Trying to run that throws some errors.
The unique ones are failure to find 3 files.
- `sys/types.h` thrown by `src/third_party/node-nw/deps/zlib/zconf.h:444:14`
- `errno.h` thrown by `s

[2018-02-02 09:51] LeonardLaszlo commented on #13
@rista86 https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases/tag/v0.24.5

[2018-02-02 17:03] techborn commented on #19
Moved issue to nw.js repository.

[2018-02-02 17:03] #19 closed

[2018-02-03 18:52] rista86 commented on #13
Thank you very much @LeonardLaszlo !

[2018-02-04 10:04] LeonardLaszlo commented on #13
You are welcome!

[2018-02-04 10:35] LeonardLaszlo commented on #7
Fixed with release: NW.js ARMv7 v0.24.5

[2018-02-04 10:35] #7 closed

[2018-02-04 10:38] LeonardLaszlo commented on #9
skipped release of NW.js v0.22.x

[2018-02-04 10:38] #9 closed

[2018-02-04 10:38] #14 closed

[2018-02-04 10:39] LeonardLaszlo commented on #17
Which version do you use?

[2018-02-04 10:50] LeonardLaszlo commented on #18
Hi,

you can play mp4 videos using the 'chrome branding' archives from releases.

[2018-02-04 10:50] #18 closed

[2018-02-08 13:21] LeonardLaszlo commented on #15
https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases/tag/v0.26.6

[2018-02-08 13:21] #15 closed

[2018-02-08 13:27] LeonardLaszlo commented on #13
https://github.com/LeonardLaszlo/nw.js-armv7-binaries/releases/tag/v0.26.6

[2018-02-08 13:27] #13 closed

[2018-02-19 13:41] LeonardLaszlo commented on #17
Closing this issue because the lack of additional infos

[2018-02-19 13:41] #17 closed

[2018-03-02 01:42] psevestre opened #20 "[Question] OpenMAX support for HW accelerated video playback"
Hi there.

I´m trying to use NW-ARM (Chrome Branding) on a Raspberry B+ and, most parts, it works like a charm.

The only issue I´m facing is when I try to play H.256 encoded videos using a regular "<video>" tag: the playback is very choppy, which would be a showstopper for my app.

The very same video plays smoothly using omxplayer, so I´m guessing the embedded ffmpeg library does not support Ope

[2018-04-02 07:29] jackieron opened #21 "nw.js ffi load dll error"
Hello, I want to load the DLL with nw.js, indicating the following error.
It is normal for me to call directly with node.js. But with nw. JS, how can I solve this problem?

E:\DemoTest\node_modules\bindings\bindings.js:83 Uncaught Error: A dynamic link library (DLL) initialization routine failed.
\\?\E:\DemoTest\node_modules\ref\build\Release\binding.node
    at Object.Module._extensions..node (mo

[2018-04-03 07:40] LeonardLaszlo commented on #21
Hi, I cannot help you with this issue. However you should provide more information like the NW.js version, the OS you are using an so on.

[2018-04-03 09:30] jackieron commented on #21
nw.js version is 0.29.3  os is windows 10

[2018-04-11 13:44] LeonardLaszlo commented on #21
This repo is not the official NW.js repo. Here you can find docs to build NW.js for ARM linux devices.

Since you question is off-topic I'll close your ticket.

For the official repo please visit: https://github.com/nwjs/nw.js

[2018-04-11 13:44] #21 closed

[2018-04-11 13:59] LeonardLaszlo commented on #20
This repo is not the official NW.js repo. Here you can find docs to make experimental builds of NW.js for ARM linux devices. I know your question is somehow related to the ARM version but I cannot really help you to find a solution.

I think you have better chances to find the answer for your question on the official NW.js project repo.

For the official repo please visit: https://github.com/nwjs/

[2018-04-11 13:59] #20 closed

[2018-05-22 23:07] TagLoomis commented on #16
Will we see a arm64 distribution for latest?

[2018-07-24 13:28] NorbarTDB opened #22 "NW.js ARMv7 v0.27.6 non-SDK build seems to contain devtools"
Hi there! Thanks very much for creating these builds, they're very useful!

One thing I noticed though, was on the aforementioned build (NW.js ARMv7 v0.27.6) while it does lack SDK elements like nwjc, devtools seems to be included?

I was under the impression that the standard flavour of NWJS did not include devtools, is this not the case or is it a configuration issue with this build?

I don't be

[2018-07-29 09:08] LeonardLaszlo commented on #22
I probably added dev tools by mistake. For future versions it will not be included.

[2018-07-29 09:08] #22 closed

[2018-08-19 12:47] Mechatronix opened #23 "Crashing at start"
Hi,

I'm running nwjs-v0.27.6-linux-arm.tar.gz on a Raspberry 3 when nwjs is running every thing is working fine.
But sometimes I have the problem nwjs is crashing at start.

At startup of the Pi I have a script which start's the nwjs with my application.
The log shows only the waring

[0819/135130.105477:WARNING:chrome_main_delegate.cc(569)] final extension: .25-Beta

and then nwjs is closed. It

[2018-09-03 08:44] tiitremmel opened #24 "Building NW.js v0.28.x fails"
I'm trying to build v0.28 version.
Using Ubuntu version 16.04.5 LTS (Xenial Xerus) stretch/sid.

I followed all instructions as in this doc
https://github.com/LeonardLaszlo/nw.js-armv7-binaries/blob/master/docs/build-nwjs-v0.28.x.md

After last step
[code]
I'm getting lot of error's saying that `sys/types.h` and `error.h` and `assert.h file not found`.

Here's last 3 errors
[code]

Any ideas why?

[2018-09-06 11:48] LeonardLaszlo commented on #24
What are your ffmpeg branging or sdk settings?

[2018-09-06 11:50] tiitremmel commented on #24
The command I used
[code]

[2018-09-06 11:57] LeonardLaszlo commented on #24
try to set enable_nacl=true

[2018-09-06 11:58] tiitremmel commented on #24
I'll try and let you know if it helps

[2018-09-06 11:58] LeonardLaszlo commented on #24
Ok

[2018-09-06 12:00] LeonardLaszlo commented on #24
I had difficulties building with the following params:

`export GN_ARGS="nwjs_sdk=false enable_nacl=false"`

That's why v0.28.4 was not released yet

[2018-09-06 12:11] LeonardLaszlo commented on #24
@jtg-gg could you take a look at this issue, please?

[2018-09-06 12:13] LeonardLaszlo commented on #23
try this version: nwjs-v0.28.4-linux-arm.tar.gz

[2018-09-06 12:28] LeonardLaszlo commented on #24
I am getting an error at a different stage, when linking libnode.so: [gist](https://gist.github.com/LeonardLaszlo/c5dae27aa531d87f38f127148d72bcce)

[2018-09-07 02:03] jtg-gg commented on #24
@tiitremmel try earlier version of node.js (28.3)
Roger Wang might update the 28.4 version then abandoned it and move the nw29

[2018-10-02 12:55] pcaffardi commented on #24
any progress here? ;-)

[2018-11-21 16:37] LeonardLaszlo opened #25 "Builds after v0.28.x fail because patches fail to apply"
@jtg-gg @rogerwang do you know why applying the patches step is failing since v0.28.x?
https://gist.github.com/LeonardLaszlo/11080065fa8434252345728dd8ed8d5b

[2018-11-21 22:03] LeonardLaszlo commented on #25
the problem seems to be that nwjs/src/third_party/node-nw is not a git repo

[2018-11-21 22:36] LeonardLaszlo commented on #25
I solved this issue by cloning https://github.com/nwjs/node into $NWJS/src/third_party/node-nw directory.

common.gypi was moved from build directory to the root of the repo so I needed to change:

`python build/gyp_chromium -Goutput_dir=out_gn_arm -I third_party/node-nw/common.gypi third_party/node-nw/node.gyp`

[2018-11-21 22:36] #25 closed

[2018-11-21 22:45] LeonardLaszlo commented on #16
maybe one day if I get things done properly. First I'd like to automate the existing build process and use a CI system for the build. It is quite a hassle to do all this build manually

[2018-11-21 22:47] LeonardLaszlo commented on #23
@Mechatronix Did the newer version work properly for you?

[2018-11-22 14:55] LeonardLaszlo opened #26 "When building latest releases of NW.js for ARM builds fail mostly at the linking step"
@jtg-gg Could you take a look at why do builds on latest versions fail after applying your patches for arm builds?

[2018-11-23 03:07] jtg-gg commented on #26
what is the error message?
anyway I am using debian-jessie sysroot, chromium build script doesn't provide this anymore
but if you are not cleaning your build, you should still have this debian-jessie sysroot

[2018-11-24 19:45] Mechatronix commented on #23
Hi,
sorry I forgot it to test, it is not realy a problem for me. My script recognize the crash and trigger a restart and than it works normaly.

I have now test it with nwjs-sdk-v0.28.4-linux-arm and have still the same behavier
2018-11-24 10:35:00 Starting
2018-11-24 10:44:22 Starting
2018-11-24 10:44:32 Closed -> Reboot
2018-11-24 10:44:53 Starting
2018-11-24 11:44:24 Starting
2018-11-24 12:44:2

[2018-11-26 11:53] DzmitryT opened #27 "It seems a typo in build script"
Hello, i'm trying to build ARM binaries using your script and got an error on patches applying.

` Apply node.patch in /home/dev/nwjs/src/third_party/node-nw
... patch directory is not a repository root.
 ERROR: This patch failed to apply. Your build will not be correct.`

It seems like a typo in build script, line:
`getOrUpdateGitRepository "https://github.com/nwjs/node" "$NWJS/src/third_party/no

[2018-11-26 12:07] #27 closed

[2018-11-26 20:10] LeonardLaszlo commented on #26
when did the chromium build script stopped to provide debian-jessie sysroot?

[2018-11-27 02:44] jtg-gg commented on #26
https://github.com/nwjs/chromium.src/commit/015a8b82b8e1b1e75421f46d8a969e443a0fedfb

looks like jessie last supported in  nw28

I don't have any arm board, so I am dependent on qemu arm emulator, which still using debian jessie
If I build using the latest "sid" I can't test it in the emulator

[2018-11-28 04:19] jtg-gg commented on #26
thx for the offer, but the shipping cost might not worth doing
anyway I don't have time / resources for this public build

[2018-12-12 10:59] LeonardLaszlo commented on #26
Hi @jtg-gg, when I try to build nw28 with the building script in the root of the repo (`building-script.sh`, commit: aafb1792eabcca9b5d425aeefb6b2f2c1ec4fb54) I get the following error:
https://gist.github.com/LeonardLaszlo/b454df742306d9f2a8fe93991b9f6cbf

Can you help me to find out what's going on here?

[2018-12-14 02:03] jonwwilkes commented on #2
Any help I can provide to help automate recent stable version builds? (0.35.2 atm)

[2018-12-14 09:05] LeonardLaszlo commented on #2
@jonwwilkes Yes sir! Can you take a look at my building script in the root of this repo and check what's wrong with it? Since nw28 I cannot run a build successfully :-/

[2018-12-24 05:02] jtg-gg commented on #26
not sure, why are you getting this
../../third_party/node-nw/deps/openssl/openssl/crypto/arm_arch.h:46:6: error: #error "unsupported ARM architecture"
# error "unsupported ARM architecture"

I suggest skip nw28, If I am not wrong I skipped the last version, was catching up with nw29

[2019-01-06 04:26] medemi68 opened #28 "Cross Compilation and Newer Versions of NW.JS"
Hello,

First and foremost, I just want to say, you are amazing! Thank you for creating this project! I needed a version of NWjs for ARMv7 for a very complicated application, and this is exactly what I needed!

My only questions are whether or not it is possible to cross-compile nw.js using the build script you gave or does it have to be run on an ARMv7 chip? Also, does this work with newer versio

[2019-01-07 11:15] LeonardLaszlo commented on #28
Hi, thank you! This is a cross-compilation guide. There is no way you will find an ARM device with enough RAM to built NW.js :D Since v.0.28.x there are some issues with the building process, which I could not fix yet because I am a bit busy lately. If you think you have time to take a look and perhaps try to build a newer version your contributions to this project are always welcome! :)

[2019-01-18 13:26] guddu313 opened #29 "How to use nw-js-symbol-0.15.1-linux-arm7.tar.gz?"
Hi LeonardLaszlo,

I want to debug the nw application. So i wanted to know how I can integrate nw-js-symbol-0.15.1-linux-arm7.tar.gz for it?

Regards,
Guddu

[2019-01-19 08:05] ubergeek77 commented on #16
In the meantime, would @mauritslamers perhaps be able to provide some arm64 binaries for some of the later NW.js versions? I would be very grateful to get an arm64 binary for something like version 0.30.

[2019-01-21 10:51] LeonardLaszlo commented on #29
Sorry Guddu, I don't know. If you want to debug NW.js maybe you should contact developers of the project. Probably they can give you more support.

[2019-01-21 10:51] #29 closed

[2019-01-21 11:19] guddu313 opened #30 "Trying to compile Nw.js 0.15.1"
Hi LeonardLaszlo,

I am trying to compile Nw.js version 0.15.1 but i am facing below issues.
(1) I am not able to find nw15 branch for v8/src.
cd $NWJS/src/v8
git checkout nw15
(2) Below patches are not available
wget https://raw.githubusercontent.com/LeonardLaszlo/nw.js-armv7-binaries/master/patches/0001.patch -P $NWJS/
wget https://raw.githubusercontent.com/LeonardLaszlo/nw.js-armv7-binaries/mas

[2019-01-21 12:45] LeonardLaszlo commented on #30
Why don't you try to build a newer version?

[2019-01-21 13:12] mauritslamers commented on #16
@ubergeek77 I tried to see whether I could build 0.30, but that didn't work out because the https://github.com/jtg-gg/chromium.src seems to be missing the 0.30 branch for the arm patches. Will have a go at 0.28

[2019-01-21 22:36] mauritslamers commented on #16
Remarks about the arm64 build of 0.28:

I am not crosscompiling, but compiling on a Pine64 under arm64 linux. This brings some extra challenges.

- step 3 needs adjustment, we don't need target arch and target cpu definitions, as we are using the current platform.
- step 4 doesn't work, so you need to install the dependencies manually
- had to edit DEPS to get past the thirdparty/binutils/download

[2019-01-22 05:51] ubergeek77 commented on #16
You're amazing! Thank you very much for working on this.

[2019-01-22 22:48] mauritslamers commented on #16
Update:

More changes:
- the binaries in `third_party/llvm-build/Release+Asserts/bin` are not arm64 binaries, so install clang-6.0 through apt, and symlink in the executables
- the configuration of clang tries to include compilation plugins, which also don't run on arm64. I didn't find a way to compile those plugins or install them through apt, so I disabled the inclusion through editing `build/co

[2019-01-24 13:49] mauritslamers commented on #16
Update:
- step 1 and 2 of the compilation process did succeed. It takes a bit as I am using a Pine64 with 2GB of memory and an external HDD (no SSD) for swap and storage.
- step 3 fails because of the same compilation plugins mentioned above. Still hunting the cause.

[2019-01-25 12:04] mauritslamers commented on #16
Update:
Getting step 3 to compile is rather complex
- Compilation plugins: I tried the same approach by editing clang.gni, but that had no effect. I tried regenerating the ninja files, but the plugin kept being included. I ended up editing out the inclusion of that plugin from all the generated ninja files. This means removing `-Xclang -load $NWJS/src/third_party/llvm-build/Release+Asserts/lib/lib

[2019-01-25 13:52] guddu313 opened #31 "Trying to compile Nw.js 0.27.x"
I am able to build nwjs but when i am building node then i am getting below error.

ninja: Entering directory `out_gn_arm/Release'
[1/1] SOLINK lib/libnode.so
FAILED: lib/libnode.so lib/libnode.so.TOC
if [ ! -e lib/libnode.so -o ! -e lib/libnode.so.TOC ]; then ../../third_party/llvm-build/Release+Asserts/bin/clang++ -shared -Wl,-z,now -Wl,-z,relro -Wl,--fatal-warnings -Wl,-z,defs -pthread -Wl,-z,n

[2019-01-28 21:18] mauritslamers commented on #16
Update: trying a few things in order to get libnw.so compiled. The only output currently is a directory full of libs, on which the 3rd compilation fails as it tries to link to libnw.so (through `-lnw`) which it cannot find as it does not exist.

[2019-01-31 09:45] mauritslamers commented on #16
Update: I am still working on this, as compiling (and recompiling) on the Pine64 is very slow (only 2GB memory, and currently using usb-hdd for swap and storage. It also turns out that formatting an ext4 disk on ubuntu 18.04 and then using it under 16.04 causes issues, as ext4 under 18.04 uses checksums, which are not completely supported under 16.04. Once in a while it causes 16.04 to fail becaus

[2019-04-01 22:42] jamilservicos opened #32 "the project died?"
the project died?
because it stopped in version 28 and is already already in 37.

[2019-04-02 06:43] LeonardLaszlo commented on #32
Hi @jamilservicos. The short answer is yes.

The long answer is that I do not have the time and the resources to maintain this project anymore. If you want to contribute to this project any contributions are always welcomed!

[2019-04-02 13:34] wittend commented on #32
I would be interested to know what resources and level of commitment is
required to keep these builds up to date.  I would consider contributing to
this effort if I can do it properly.

Dave

On Tue, Apr 2, 2019 at 1:43 AM Leonard László <notifications@github.com>
wrote:

[2019-04-09 00:17] jonwwilkes commented on #2
@LeonardLaszlo I don't have a machine where I can test building this atm.

What are the errors you are getting when attempting to run your script?

[2019-04-09 00:22] jonwwilkes commented on #32
@wittend Requirements would be the same as for building Chromium: an x64_64 box with > 100MB harddrive space and > 16GB ram running (apparently) Ubuntu 14.04.

[2019-04-09 00:33] jonwwilkes commented on #32
@LeonardLaszlo Does your "building-script.sh" in this repo do the work of setting up the cross-compiling environment for the user? Or is that already supposed to be set up before running the script?

[2019-04-11 03:23] aspect commented on #16
@mauritslamers what is your status on this?  have you been successful with a cross-compile build?  would trying to set up an arm64 VM help? https://wiki.ubuntu.com/ARM64/QEMU  I can provide computing resources with SSH access (i.e. set up a VM on SSD and lots of RAM and provide SSH access) ... if this would help.

[2019-05-03 06:49] julientype commented on #26
[504/1243] CC obj/third_party/node-nw/deps/openssl/openssl/crypto/md5/openssl.md5_dgst.o
In file included from ../../third_party/node-nw/deps/openssl/openssl/crypto/md5/md5_locl.h:98:0,
                 from ../../third_party/node-nw/deps/openssl/openssl/crypto/md5/md5_dgst.c:60:
../../third_party/node-nw/deps/openssl/openssl/crypto/md5/md5_dgst.c: In function ‘md5_block_data_order’:
../../third_p

[2019-05-03 07:12] julientype commented on #32
here here..... i can help in the test side.....
i have a banana pi board.....
tried electron no go...... yours did ver---- 28

[2019-05-06 10:35] Elvincth commented on #32
Please continue, you really saved my life

[2019-06-05 01:55] jonwwilkes commented on #32
@LeonardLaszlo Had a look at the script.

Why are there patches being applied to chromium from chromium.src? I thought Chromium already runs on arm.

Additionally, from what I can tell _none_ of the nw patches apply cleanly. So it appears I'd have to manually patch every single patch to the nw.js codebase. I'll ask Roger if he's interested in merging in those patches upstream. If not then I have n

[2019-09-22 18:13] zzxzzk115 opened #33 "How to replace the libffmpeg.so?"
I need to play a mp3 format audio in my nw.js project...
at https://github.com/iteufel/nwjs-ffmpeg-prebuilt I didn't find an arm-linux version.
What should I do?

[2019-09-26 06:52] mauritslamers commented on #33
I solved this by using mpg123 and require('child_process').spawn.

[2019-09-26 07:43] mauritslamers commented on #33
Just curious, is using the WebAudio API not an option?

[2019-11-07 12:16] NorbarTDB commented on #32
@jonwwilkes while looking for updates I think I stumbled across your request to Roger on Google Groups (https://groups.google.com/d/msg/nwjs-general/j5ZCEf1qnIE/bg7_5p--BwAJ); did you ever hear back on that? Did the patches get merged?

[2020-01-03 15:26] janrinze commented on #16
Icestudio has migrated to nw.js 0.35. Any chance we will see nw.js 0.35 for armhf and aarch64? (i'd like both versions)

[2020-01-07 16:51] LeonardLaszlo commented on #16
Unfortunately I don't have the time needed to tweak the builds.

[2020-01-08 16:21] NbrTDB commented on #24
Interesting, I am now experiencing the exact same issue trying to build nw28. Building with:

[code]

The following files are apparently missing:

[code]

Interestingly, sysroot for the compilation was `--sysroot=/home/user/nwjs/src/build/linux/debian_jessie_arm-sysroot`

**This path doesn't exist!!!!**

However, this one does:

`/home/user/nwjs/src/build/linux/debian_stretch_arm-sysroot`

and ind

[2020-01-09 15:05] NbrTDB commented on #32
@jonwwilkes I did not have problems applying patches, except insofar as all attempts to use curl/wget for the Github URLs wound up with redirects to the login page (and it wouldn't authenticate either). Once I manually downloaded them they seem to apply fine for nw28.

[2020-01-09 15:06] NbrTDB commented on #32
@LeonardLaszlo no wonder you abandoned this, I'm trying to build nw28 and completely losing the will to live, haha!

It looks like some ARM patches are floating around @jtg-gg's dev branches (like dev42-m78: https://github.com/jtg-gg/node-webkit/compare/dev42-m78); do you reckon we'd have an easier time trying to get nw42 to build? You got any pointers for people trying to figure this out on their

[2020-01-09 15:39] LeonardLaszlo commented on #32
Back then I had much more time to work on this. I could not have make the builds without the help of @jtg-gg  and some other people.

[2020-01-09 16:08] TagLoomis commented on #32
I really appreciate the work you've done!

It's sad the nwjs team isn't stepping up to support Arm yet.

But I wager it will happen at some point in the future.

On Thu, Jan 9, 2020 at 7:39 AM Leonard László <notifications@github.com>
wrote:

[2020-01-09 16:15] NbrTDB commented on #32
I understand. Well I must say, I'm very grateful for all the time and effort you put into it while you could; you were a lifesaver!

Hahaha, and literally as I write this, @TagLoomis jumps in with the same sentiment, I see!

I agree, I'm kind of surprised armhf support isn't a bigger deal for the team as there's so many potential applications for running NW.js on little arm devices.

My understand

[2020-06-05 15:12] wu6692776 opened #36 "How to compile Nw.js 0.36.4 ?"
This seems to be the last version to access the chrome.serial object

[2020-06-08 09:16] LeonardLaszlo commented on #36
Hello Sir, you can start from https://github.com/LeonardLaszlo/nw.js-armv7-binaries/blob/master/docs/build-nwjs-v0.28.x.md

Have a great day,
Leonard.

[2020-06-09 12:29] NbrTDB commented on #32
@LeonardLaszlo you _legend_, I spotted the new 0.44.3 build you released in March! Just want to express my gratitude for you taking another look at this.

I appreciate the binaries are not tested so am proceeding cautiously, but so far can happily report I have encountered no issues with either the SDK nor the standard (non-ffmpeg) builds. Thanks very much!

I seem to recall (per #24) one of the p

[2020-06-09 13:49] LeonardLaszlo commented on #32
Hello Sir, thanks for the kind words.

I am not sure what happened with the NW.js projects recently, but nowadays it is quite easy to build it for ARM.

The last build was done as described by the Dockerfile in the root of the repo.

There are 2 bash scripts used:
- build-container.sh to build the docker image (also available on docker hub https://hub.docker.com/r/laslaul/nwjs-arm-build-env)
- bui

[2020-06-09 19:18] julientype commented on #32
ahhhh the  legend is back.......
try and use it as a programmer calling card....
you network with others this way....   you maintain 1 component..... 10% time one component and 90% one anything else payable.... a calling card..

[2020-06-11 07:27] LeonardLaszlo commented on #36
Please checkout https://gist.github.com/llamasoft/33af03b73945a84d7624460d67b922ab
I think the patches won't apply automatically, but if you apply them manually you can probably build any version with cross compilation.

Thanks to @llamasoft we can now build newer versions.

[2020-06-11 07:29] LeonardLaszlo commented on #36
Also I recommend to use a virtual machine of a docker container.
You don't want to mess up your machine.

[2020-06-11 07:29] #36 closed

[2020-06-11 07:30] LeonardLaszlo commented on #33
Closed because no reply.

[2020-06-11 07:30] #33 closed

[2020-06-11 07:37] wu6692776 commented on #36
Thanks for your support, I will try these later, if I succeed, I will post it here.

[2020-06-11 11:40] LeonardLaszlo commented on #32
If you guys need to build an older version you can take a look here:
https://gist.github.com/llamasoft/33af03b73945a84d7624460d67b922ab

Might be really useful. Cheers!

[2020-06-11 11:40] #32 closed

[2020-06-11 11:42] LeonardLaszlo commented on #31
Hi there, for older builds you can take a look at this https://gist.github.com/llamasoft/33af03b73945a84d7624460d67b922ab

Otherwise for newer builds check the Release tab.

[2020-06-11 11:42] #31 closed

[2020-06-11 11:44] LeonardLaszlo commented on #30
I am sorry, but I cannot really help with this.
There are many useful tips and tricks under the docs directory in case you want to give it a shot.

[2020-06-11 11:44] #30 closed

[2020-06-11 11:45] LeonardLaszlo commented on #28
I released some newer versions btw.

[2020-06-11 11:45] #28 closed

[2020-06-11 23:40] jrd261 commented on #2
Closing this thread as now that I see we've got containerized builds. I think thats automated enough! Nice work as always @LeonardLaszlo .

[2020-06-11 23:40] #2 closed

[2020-06-12 03:40] julientype commented on #32
chat code and your return investment over time no one id asking you to work 24h a day at 0$ ...your networking,,,, code chat work to survive....
i go out and play bass ball and work.... leverage you talent and time over time  and your network grows..... whee more clients give money for your talents .. they want now
building a network    takes years..... yet when you peek it explodes to millions
an

[2020-06-13 20:22] #23 closed

[2020-06-15 12:03] LeonardLaszlo opened #37 "Building NW.js v0.41.x fails with the following error:"
[code]

@llamasoft do you happen to know what does this error message mean?

[2020-06-15 12:06] LeonardLaszlo commented on #37
I added the scripts I am using to https://github.com/LeonardLaszlo/nw.js-armv7-binaries/tree/master/docs/v0.41.x

[2020-08-01 06:05] pleasantone opened #38 "nwjs 0.47.1 has been released"
Any chance we could get arm7l binaries (armhf) for the Pi?

[2020-08-06 05:48] LeonardLaszlo commented on #38
Nope.

[2020-08-06 05:48] #38 closed

[2020-08-06 06:20] pleasantone commented on #38
That was a bit terse. I’m curious, is there an issue I should be aware of with 0.47.1 and therefore I should not waste time trying to do it myself, or do you just not want to do it? I’m really new to nwjs so I’m asking out of ignorance, not trying to be disagreeable.

[2020-08-06 09:05] LeonardLaszlo commented on #38
I've built NW.js for ARM when I was a student, because I wanted to run an app on my Odroid.
There was no tutorial at that time and I've mostly asked the help of other people, because I was and I am still clueless about the building process.

Now, 5 years later, people are expecting me to deliver every version they need, although now there is a documentation in this repo for it and anybody can do i

[2020-08-06 09:13] LeonardLaszlo opened #39 "Looking for maintainers."
Hello there,

I've built NW.js for ARM when I was a student, because I wanted to run an app on my Odroid.
There was no tutorial at that time and I've mostly asked the help of other people. Thanks again @jtg-gg!

Now, 5 years later, people are expecting me to deliver every version they need. Building 1 version takes more than 24 hours on my laptop. It's not that I don't want to do it, I just have a

[2020-08-06 09:14] LeonardLaszlo commented on #38
I've opened an issue for that now:
https://github.com/LeonardLaszlo/nw.js-armv7-binaries/issues/39

[2020-08-06 10:32] LeonardLaszlo commented on #39
I considered running Github actions, but their runner does not have enough resources to build nw.js.
https://docs.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners

If there is anyone who can donate a runner and maybe setup the whole flow, to make releases on tagging, that would be amazing.

[2020-08-06 14:26] pleasantone commented on #38
Ok thanks for the explanation! You were updating the repo and doing old releases so I had no clue about the context.

Of course we can build our own, just considered you a central repository.

Thanks for your work!!!
On Aug 6, 2020, 2:14 AM -0700, Leonard László <notifications@github.com>, wrote:

[2020-08-06 14:32] LeonardLaszlo commented on #38
I am running the build of the latest version now. I think it will take few more hours to finish.

[2020-08-06 14:36] pleasantone commented on #38
Wow, thank you!!! You’re awesome!
On Aug 6, 2020, 7:33 AM -0700, Leonard László <notifications@github.com>, wrote:

[2020-08-07 08:30] hthetiot commented on #39
How about Travis-ci may be it provides enough resources.

I'm the maintainer of Cordova-plugin-iosrtc and Open-EasyRTC, I'm willing to assist with maintaining that repository. Alternatively, what about trying to convince the official nw.js to add support for ARM binaries?

[2020-08-07 08:41] LeonardLaszlo commented on #39
The disk space is not enough imo. On 2 cores it will probably run for more than 50 hours. Probably none of the CI providers actually support so long live virtual machines, and most probably they kill them after a while if they don't stop gracefully. But nobody actually documented what is the life span of such a machine.
https://docs.travis-ci.com/user/reference/overview/

Sorry, I have better thin

[2020-08-08 13:24] jrd261 commented on #39
I'm going to reach out to CircleCI to see if they would give us access to an OSS XLarge machine.

[2020-10-21 20:50] pleasantone opened #40 "Invalid cross-device link while using automatic build"
Build host is ubuntu 20.04 amd64, obviously with docker installed.

Checked out branch in the container is --nw48-- and the desired branch is --nw49--
Checking out nw49 branch
Checkout branch: nw49
Cloning into '/usr/docker/nwjs/src/content/nw'...
remote: Enumerating objects: 2013, done.
remote: Counting objects: 100% (2013/2013), done.
remote: Compressing objects: 100% (1641/1641), done.
remote:

[2020-10-22 15:23] LeonardLaszlo commented on #40
I am getting those errors sometimes as well.
What's weird for me is that the .cipd_bin is usually under the `/usr/docker/nwjs` directory and the logs seems to be located under `/usr/docker/depot_tools`.

[2020-10-22 15:24] LeonardLaszlo commented on #40
Please try again with the latest version of my script.

[2020-10-22 16:21] pleasantone opened #41 "automatic build attempts to pull huge docker images twice (and fails at the moment)"
First off, thank you so much for developing the automatic build system. I know it's a work in progress, and I'm happy to help with feedback if it's useful to you. Since I'm starting this from a different state that you are, I may be running into things you've already worked around.

I started with a completely blank-slate machine, docker and python et al installed, and a fresh clone of master, run

[2020-10-23 07:04] LeonardLaszlo commented on #41
Hi there, thanks for your feedback.

The latest stable build is nw48, also tagged with the latest tag.
Because I am still testing the script and experimenting I've pushed the nw49 image without thinking about the implications, and as it turned out is unstable.

I'll delete it so it won't create any confusion.

Using the nw48 docker image (marked with latest) you can build older versions, they are

[2020-10-23 07:55] LeonardLaszlo commented on #40
I am also getting:

[code]

These are only some warnings. You can ignore then.

[2020-10-23 19:26] LeonardLaszlo commented on #41
Probably I've already deleted nw49 from docker hub. I cannot find it.

<img width="1280" alt="Screenshot 2020-10-23 at 09 06 33" src="https://user-images.githubusercontent.com/12235548/96966978-13741700-150f-11eb-8777-299f2d4583a9.png">

[2020-10-24 21:06] LeonardLaszlo commented on #39
The automatic build is almost ready, if I find a self-hosted Github runner or a docker host to which I can connect, the build can be scheduled to run weekly.

[2020-10-25 08:18] LeonardLaszlo commented on #26
Not relevant anymore.

[2020-10-25 08:18] #26 closed

[2020-10-25 08:20] LeonardLaszlo commented on #24
Not relevant anymore.

[2020-10-25 08:20] #24 closed

[2020-10-25 08:21] LeonardLaszlo commented on #41
I think this issue is fixed with the latest version. I am closing it because it's not relevant anymore.

[2020-10-25 08:21] #41 closed

[2020-10-25 08:22] LeonardLaszlo commented on #37
Not relevant anymore.

[2020-10-25 08:22] #37 closed

[2020-10-25 14:28] pleasantone commented on #41
Ok I have a build in progress and have made it past that point. Thank you. I was waiting to reply until it was complete.

For the record I had to use -b nw48
On Oct 25, 2020, 1:21 AM -0700, Leonard László <notifications@github.com>, wrote:

[2020-10-25 14:33] LeonardLaszlo commented on #41
Fyi you can also build nw49 with the latest version. I have added a patch to fix a failing assertion.

[2020-11-19 18:49] hthetiot opened #42 "arm64 for Apple M1"
See https://github.com/nwjs/nw.js/issues/7620

I used this repository for a while and it's great, may be some code can be shared here to allow nw.js arm build to enter official support.

Thank you for you work.

[2020-11-19 18:49] hthetiot commented on #42
Possible duplicate https://github.com/LeonardLaszlo/nw.js-armv7-binaries/issues/16

[2020-11-24 13:32] LeonardLaszlo commented on #42
Hi there, all the code is shared in form of shell scripts.

All the best,
Leonard.

[2020-11-28 11:01] LeonardLaszlo opened #43 "nw50 & nw51 builds fail"
[code]

[2021-02-09 07:22] LeonardLaszlo commented on #43
I suspect a wrong sysroot here, but I don't know how to change it.

[2021-04-06 11:07] chrisgaeth opened #44 "Signal 11 Fault"
When installing and attempting to run on Pi400, Ubuntu 21.04, executing
./nw --use-gl=egl --ignore-gpu-blacklist --disable-accelerated-2d-canvas --num-raster-threads=2  results in;

Failed to generate minidump.Received signal 11 SEGV_MAPERR 00005efa259e
[end of stack trace]
Calling _exit(1). Core file will not be generated.

Not sure where to troubleshoot from here.

[2021-04-14 06:26] LeonardLaszlo commented on #44
Hello @chrisgaeth,

Pi400 has a 1.8GHz Quad core ARM Cortex-A72 CPU with ARMv8-A architecture.
This repository provides only the binary for the ARMv7 architecture.
https://en.wikipedia.org/wiki/ARM_Cortex-A72

If you are willing to spend some time on this, there was somebody who managed to build the ARMv8 binaries based on this repository. Take a look at the closed PRs and you will find it.
https:

[2021-04-14 06:26] #44 closed

[2021-04-24 09:40] k1r0s commented on #16
sorry but TL;DR where I can download the bin in order to run it on arm64 systems?

[2021-04-25 07:07] buqulinghun opened #45 "docker: Error response from daemon: error creating overlay mount to /home/sangfor/source/.docker/overlay2/1f59d9ec9bfb4fb8193fa683c3d3907d17d28f4d63f2619b970dde6acd5404bd-init/merged: no such file or directory."
The build log is as follows:
2021-04-25 14:52:32 TODO install curl, python, docker if needed
2021-04-25 14:52:32 Start parsing parameters
2021-04-25 14:52:32 Set positional arguments in their place
2021-04-25 14:52:32 Done parsing parameters
2021-04-25 14:52:32 Get the active branch from the official repo
2021-04-25 14:52:33 NW.js active branch: nw53
2021-04-25 14:52:33 Docker repository: laslaul/

[2021-04-25 13:44] LeonardLaszlo commented on #45
Seems to be a docker error. Based on a short googling I think it has to do with your filesystem.

[2021-04-25 13:46] LeonardLaszlo commented on #45
https://github.com/moby/moby/issues/23930

[2021-04-26 07:14] buqulinghun commented on #45
Thank you! I have tried many blog methods including the above post, but still did not solve the problem. If I solve this problem later, I will post the answer here.

[2021-04-26 08:42] buqulinghun opened #46 "How to compile the nw binary file so that the interpreter of this file is /lib/ld-linux-aarch64.so."
Hello! I directly use the binary nw file you released to test on my arm64-based computer. But the test result is not normal operation. The reason is that nw interpreter needs to be /lib/ld-linux-aarch64.so.1 instead of /lib/ld-linux-armhf.so.3 on Linux version 4.19.172 for arm64. How to compile the nw binary file so that the interpreter of this file is /lib/ld-linux-aarch64.so.

$ file ./nwjs-chro

[2021-04-26 10:01] LeonardLaszlo commented on #46
Hi @buqulinghun this is a 32-bit binary (only ARMv7), it won't work on 64-bit processors.
https://en.wikipedia.org/wiki/ARM_architecture

You can try to use this building script as a base for building the 64 bit version. Somebody succeeded in the past, but it's a long way.
https://github.com/LeonardLaszlo/nw.js-armv7-binaries/issues/16

[2021-04-26 10:01] #46 closed

[2021-04-27 17:22] jrd261 commented on #16
I just managed to cross-compile 0.51.3 for arm64 (no sdk, no nacl).  Starts up on my Jetson ARM64 device but I haven't really tested much. I'll work on documenting the steps and providing a Dockerfile.

https://github.com/jrd261/nwjs-builds/releases/download/0.51.3-a1/nwjs-v0.51.3-linux-arm64.tar.gz

@LeonardLaszlo Do you want me to stick this in your releases if it seems stable?

[2021-04-28 08:02] LeonardLaszlo commented on #16
@jrd261 please update the building scripts and open a PR.

[2021-04-28 13:49] jrd261 commented on #16
It might take me a little to adapt my scripts as I used docker layer cache for the whole thing. Here's a synopsis on how I got it to work and maybe you guys will have some pointers (I don't know a whole lot about building with these tools). I'll work on getting this into a PR. I'll probably see if I can get an SDK version working first.

Installed sysroot with `./build/linux/sysroot_scripts/instal

[2021-05-01 02:48] pakimov2 commented on #16
Great work! I also would like to run nwjs on my Jetson Nano. Can you provide binaries or instruction how to build?
Thank you.

[2021-05-04 07:25] skylarmt opened #47 "Debian/Ubuntu packages"
My company has been building NW.js .deb packages for some time now, for i386, amd64, and armhf. The armhf binaries are packaged from the latest release in this repo, so if anyone would find installers useful go ahead and help yourself:
https://build.netsyms.net/job/Community/job/NW.js/

There's an APT repository available as well:
https://repo.netsyms.com/

[2021-05-05 14:55] TheJaredWilcurt opened #48 "Added to NWUtils site"
I added a link to this repo on the NW.js Utilities website:

* https://nwutils.io/#nwjslibraries

If you want to tweak anything on the description, the file is here:

* https://github.com/nwutils/nwutils.github.io/blob/main/data/data.json#L303

Close this issue at your convenience.

🎈 🐶 🎉 😸 ✨

[2021-05-05 19:36] jrd261 commented on #16
@pakimov2 I should have instructions PR'ed in a day or two, still cleaning it up.

You should be able to follow the build for arm7 in this repo with those two patches and extra build flags.

[2021-05-06 14:21] janrinze commented on #16
@jrd261 your repository is still empty. I would like to try a native build on my NVIDIA AGX since it has plenty disk space left (200GB) and 8 cores with 32GB memory. It is running Debian Sid. So far my attempts have failed due to too many manual steps that are prone to errors.

[2021-05-06 16:03] jrd261 commented on #16
@janrinze I opened a PR to this repo with the build steps. Please note my steps are for cross compiling from amd64.

[2021-05-07 12:35] LeonardLaszlo commented on #43
Solved.

[2021-05-07 12:35] #43 closed

[2021-05-07 12:36] #40 closed

[2021-06-20 03:14] NemoAlex commented on #16
Any updates?

[2021-06-22 07:53] LeonardLaszlo commented on #16
I integrated @jrd261's work into the building script. The non-SDK versions are built fine.

 For the SDK build I am getting this error:
[code]

If you manage to fix this please send me the patch so I can integrate it to the building script.

[2021-06-22 07:54] LeonardLaszlo commented on #16
You can find the artifacts under the Relaese tab.

[2021-07-27 16:58] janrinze commented on #16
Quick update: icestudio is running with the aarch64 binaries.
Not for the faint of heart: aarch64 is not a 'fully supported' platform for APIO thus bumping into various issues once icestudio is running.
So far it's working and i will add info on the icestudio github issues for aarch64 related problems.

[2021-11-02 22:05] prominentdetail opened #50 "Skia shader compilation error"
I am running an app that uses three.js and I receive these errors when it tries to render. I can't seem to find any answers from anyone why this is occurring. Maybe it is related to nw.js?

`
[2122:2122:1101/195735.880642:ERROR:shared_context_state.cc(73)] Skia shader compilation error
-----------------
#version 110

uniform sampler2D uTextureSampler_0_Stage0;
varying vec2 vlocalCoord_Stage0;
void

[2021-11-03 14:26] LeonardLaszlo commented on #50
In my understanding of the error message Skia uses open gl 1.10 features, but the only supported versions are:
1.00 ES, 3.00 ES, and 3.10 ES
I am afraid there is not much we can do on nw.js side in order to fix this.

[2021-11-03 15:28] prominentdetail commented on #50
Okay, thanks for the help. I'll try to prod the three.js community for more info.

[2021-11-03 15:28] #50 closed

[2021-11-29 23:34] knutsoned opened #51 "Automatic build fails with "invalid cross-device link" error"
Running the automatic build under OS X 10.14.6 results in an error

[code]

[2021-12-01 04:58] knutsoned commented on #51
Updating to ubuntu20.04 seems to help this issue although I then get an error that snapcraft cannot connect to the snap store

[2021-12-05 08:05] LeonardLaszlo commented on #51
Hi @knutsoned, I rebuilt the build environment docker image on branch nw55 and pushed it to docker hub.
If you try again it should work for nw55 or later.
I'll push soon the binaries for newer versions, as soon as the build ends, so maybe you won't need to build them yourself.

[2021-12-16 07:25] knutsoned commented on #51
Thanks, I am able to build now so I will close the issue. I am getting runtime errors with the newer releases and will open a new ticket if I can't figure it out

[2021-12-16 07:25] #51 closed

[2021-12-23 14:55] MEGAMENE opened #52 "Is it possible to make arm64 binaries targeting chromeOS using this scripts?"
Hi, I was wondering if it would be possible to make arm64 binaries targeting chromeOS using this scripts with minimal changes.

The reason for targeting chromeOS is to have a build that includes Ozone DRM/GBM to try and run nw.js on low powered arm devices like the RK3326 handheld devices.

Thanks.

[2021-12-28 08:46] LeonardLaszlo commented on #52
Hi, I don't have the time nor the knowledge to make it happen.

[2022-02-07 06:21] jonwwilkes commented on #39
Did you ever find a machine for a runner?

[2022-02-07 09:27] LeonardLaszlo commented on #39
No. I am running it on my private laptop, and that renders my laptop useless for more than 24h when I do it.

[2022-02-22 21:50] MaudDibb opened #53 "options for raspi 4 owners"

[2022-04-15 14:02] prominentdetail opened #54 "nwjc tool for 64bit version?"
Is there a way to get the 64 bit version of the nwjc tool so that I can compile source code to native code? (the 32bit version isn't compatible with 64 bit version)

[2022-06-28 08:11] frank-dspeed commented on #52
That should be a no brainer at all while it is not needed on android as there is on android only the Chromium WebView already so you got full access via the android api ChromeOS Runs in general Android Apps by design it contains a linux layer that would be able to run this and build this.

NWJS is a Chrome App so in general it is deprecated and not needed anymore it got replaced by the devtools pr

[2022-07-15 21:45] edelciomolina commented on #54
In my case I´m looking for a version with SDK that I can runs DevTools.

[2022-08-08 06:04] ayushmxn commented on #39
I'd be willing to help out. I've created a Github org called NW Userland to consolidate NW tooling. I think moving it there would give it more visibility to it.

Tbh I have a spare laptop but it's not ARM based - and I'm assuming to build NW.js that's what one would need?

[2022-11-29 16:59] pd-l2ork opened #55 "nwjs version 0.67.1"
Hi,

Thanks for a great repo--RPi versions of nwjs are super hard to find. Any chance you may be able to release nwjs 0.67.1? I would really appreciate that. Thank you.

Best,

Ico